body {
    background-image: url('https://i.ibb.co/whVbh8J3/Background.webp');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
main {
width: 494px;
height: 825px;
  border-radius: 30px;
background: #3D3C3C;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 90%;
}

h1 {
display: flex;
width: auto;
margin-top:20px;
flex-direction: column;
justify-content: center;
color: #000;
text-align: center;
text-shadow: 0px 0px 15px #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

p {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-weight: bold;
}

input, select, textarea, button {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    color: black;
    height: 100px;
    resize: vertical;
}
button{
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #00ccff;
  color: white;
  min-width: 300px;
   border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
}

